.home-page {
  @keyframes comicSansAnim {
    0% {color: maroon;}
    10% {color: red;}
    20% {color: orange;}
    30% {color: yellow;}
    40% {color: lime;}
    50% {color: cyan;}
    60% {color: cornflowerblue;}
    70% {color: blue;}
    80% {color: purple;}
    90% {color: magenta;}
  }

  &__title {
    animation: comicSansAnim 1s infinite;
    color: red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media (prefers-color-scheme: light) {
  .home-page {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

@media (prefers-color-scheme: dark) {
  .home-page {
    background: rgb(32, 32, 32);
    color: rgb(195, 195, 194);
  }
}

