.navbar {
    position: fixed;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    width: 70%;
    justify-content: space-between;
  }
  
  .navbar__account button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
}
